In [1]:
import pandas as pd
import numpy as np

In [9]:
index = pd.MultiIndex.from_tuples(
            [('one', 'a'), ('one', 'b'),
             ('two', 'a'), ('two', 'b')]
            )

In [10]:
s = pd.Series(np.arange(1.0, 5.0), index=index)

In [11]:
s

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64

In [12]:
s.unstack(level=-1)

       a    b
one  1.0  2.0
two  3.0  4.0

In [13]:
s.unstack(level=0)

   one  two
a  1.0  3.0
b  2.0  4.0

In [14]:
s.unstack(level=1)

       a    b
one  1.0  2.0
two  3.0  4.0

IndexError: Too many levels: Index has only 2 levels, not 3